.post_type_section {
	margin: 30px 0;
    color: #000;
    font-size: 14px;
    position: relative;
    height: 100%;
}
.post_type_section .card{
	max-width: 100%;
	margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}
.post_type_section .card-header {
	background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}
.post_type_section .card-header-title {
	margin: 0;
    line-height: 2;
    font-size: 16px;
    line-height: 26px;
}
.toolbar {
	font-size: 18px;
}
.image-container.active {
    width: 100%;
    margin-bottom: 15px;
}
.image-container.active .profile-picture {
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.post_type_section .nav-pills .nav-link {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0px;
    outline: none;
    transition: all 0.15s;
    box-shadow: none;
    margin-bottom: 3px;
}
.post_type_section .nav-pills .nav-link:hover,
.post_type_section .nav-pills .nav-link.active {
    background-color: #808080;
    color: #fff;
    box-sizing: none;
    outline: none;
}