/*
Theme Name: Membership
Description: Customizable membership site theme that allows dynamic adding of new courses.
Author: Member
Version: 1.0
*/
/**
 * ===========================================
 *					Generic Css
 * ============================================
 */
blockquote {
    padding: 2px 20px;
    margin: 0 0 20px;
    font-size: 18px;
    border-left: 5px
 solid #eee;
}
html {
    font-size: 100%;
}
body { 
	background: #fff; 
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    position: relative;
    min-height: 100vh;
}
a { 
	text-decoration: none;
	transition: all .5s ease;
}
img,
svg,
iframe {
	height: auto;
	max-width: 100%;
}
header, 
section, 
footer,
article {
	width: 100%;
}
.accessibility {
	backface-visibility: hidden;
	left: -999999999px;
	position: absolute;
}
h1 {
	font-size: 2.5rem;
	font-weight: 700;
}
h2 {
	font-size: 2rem;
	font-weight: 500;
}
h3 {
	font-size: 1.75rem;
	font-weight: 500;
}
h4 {
	font-size: 1.5rem;
	font-weight: 500;
}
h5 {
	font-size: 1.25rem;
	font-weight: 500;
}
h6 {
	font-size: 1rem;
	font-weight: 500;
}
.post--data {
	position: relative;
	padding-bottom: 54px;
}
#main.home_main {
	padding-bottom: 54px;
}
/**
 * ======================================================================================
 *									Header Css
 * =======================================================================================
 */
.site-header {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    overflow: hidden;
}
.site-header .header_menu li {
    display: inline-block;
    margin-left: 30px;
    padding: 0;
}
.site-header .header_menu li a {
    padding: 5px 10px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.sitebtn {
	min-width: 150px;
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.sitebtn:hover {
	text-decoration: none;
}
.sitebtn.sitebtn-gold {
	/*background-color: #fbc85f;
    color: #000;
	border: 2px solid #fbc85f;*/
}
.sitebtn.sitebtn-gold:hover {
	/*background-color: #fff;
	color: #fbc85f;*/
}
.logo-container .logo img {
	max-height: 80px;
}
/**
 * ======================================================================================
 *									Dashboard css
 * =======================================================================================
 */
.Home--dashboard {
	padding: 60px 0;
	color: #000;
}
.progress {
	height: 5px;
	margin-bottom: 5px;
}
.progress-bar {
	background-color: #808080;
}
.progress-count {
	font-size: 12px;
	text-align: left;
	opacity: 0.8;
}
.post-card-body {
	text-align: center;
}
.post-card {
	box-shadow: 0 1px 5px 0 rgba(32, 33, 36, .28);
	border-radius: 0;
	overflow: hidden;
}
.mb-30 {
	margin-bottom: 30px;
}
.post-card-body {
	padding: 30px 15px;
}
.post-card-title {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.post-card .embed-responsive {
	background-color: rgba(97, 97, 97, 0.1);
    border-radius: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/**
 * ======================================================================================
 *									Single Page
 * =======================================================================================
 */
.post-sidebar {
	min-height: calc(100vh - 84px);
	padding: 60px 30px;
	background-color: rgba(211, 211, 211, 0.5);
	color: #000;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 5;
}
.post-sidebar:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.post-sidebar > div {
	position: relative;
	z-index: 5;
}
.post-sidebar .user-tracker {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 30px;
}
.back-title,
.back-dashboard--link {
    line-height: 2;
  /*  color: #000;*/
    padding-left: 30px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}
.back-title {
	display: block;
}
.back-dashboard--link:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-image: url("./img/left-arrow.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.texonomy--inner {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 15px;
	line-height: 2;
}
.texonomy-card .texonomy--header {
	font-weight: 600;
	position: relative;
	padding: 3px 30px 3px 0px;
}
.texonomy-card .texonomy--header:after {
	content: '';
	position: absolute;
	right: 5px;
	top: 7px;
	color: #000;
	width: 25px;
	height: 25px;
	background-image: url("./img/plus-icon.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.2s;
}
.texonomy-card .texonomy--header[aria-expanded="true"]:after {
	transform: rotate(45deg);
}
.texonomy-card .texonomy--body {
	padding: 0 15px 0 15px;
}
.texonomy-card .texonomy--body li a {
	color: #808080;
	text-decoration: none;
}
.texonomy-card .texonomy--body li.active a {
	font-weight: 500;
	text-decoration: underline;
	text-underline-position: under;
}
.dashboard--header {
	padding: 30px;
}
.post-module {
    margin: 30px 0;
    padding: 30px 50px;
    background-color: #f5f5f5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
a.pre_page_link, a.next_page_link {
 	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}
a.pre_page_link {
    left: 0;
}
a.next_page_link {
    right: 0;
}
/**
 * ======================================================================================
 *									Footer
 * =======================================================================================
 */
.Footersite {
    text-align: center;
    padding: 15px 0;
    background-color: #808080;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.Footersite.indexfooter{
	z-index: 5 !important;
}
.post--data {
	position: relative;
	padding-bottom: 54px;
}
/**
 * ======================================================================================
 *									Over View
 * =======================================================================================
 */
.module-listing {
    margin: 0 auto 1.4rem;
    cursor: pointer;
    z-index: 10;
    display: block;
    box-shadow: 0 2px 3px rgba(14,14,14,.11);
    background: #fff;
    border-radius: 3px;
    transition: all .3s;
    border-left: 10px solid #808080;
    position: relative;
}
.cat-main-title {
	position: relative;
}
.cat-main-title{
	position: relative;
}
.cat-main-title::before{
	content: '';
    position: absolute;
    left: 0;
    top: 8px;
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(./img/arrow-point-to-right.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .256s;
}
.cat-toggle .cat-main-title::before{
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg); 
    transition: all .256s;
}
.module-listing::before {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    background: #e5e5e5;
    width: 4px;
    margin-left: -4px;
    height: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -22px;
}
.parent-cat-title {
	background: #e5e5e5;
    color: hsla(0,0%,0%,.4);
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 700;
    font-size: 9.5px;
    text-transform: uppercase;
    padding: 6px 15px 5px;
    border-radius: 20px;
    width: fit-content;
}
.post-module-title {
	display: block;
    padding: 0.47rem;
	text-decoration: none;
}
.post-module-title:hover{
	padding: 0.47rem 1.4rem;
    position: relative;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    transition: all .3s;
    background: hsla(0,0%,0%,.05);
	text-decoration: none;
}
.post-module-title img {
	position: relative;
    vertical-align: middle;
    display: inline-block;
    margin-right: 6px;
    opacity: .8;
    height: 22px;
}
.post-module-title span {
	border-bottom: 1px dotted hsla(0,0%,0%,.75);
    top: 2px;
    letter-spacing: .025vw;
    font-weight: 600;
    display: inline;
    color: #242424;
    position: relative;
}
.post-module-title img.task--image {
    margin-left: 6px;
    opacity: 1;
    max-width: 20px;
    height: auto;
    max-height: 22px;
    width: auto;
}
.total-post {
	background-color: hsla(0,0%,0%,.05);
    color: hsla(0,0%,0%,.4);
    padding: 2px 9px;
    font-size: 15px;
    border-radius: 2px;
    margin: 0 20px;
}
.com-task-per {
	color: rgba(14,14,14,.2);
}
.course_overview {
	background-color: #f5f5f5;
}
.cat-post {
    display: none;
}
/**
 * ======================================================================================
 *									customer_center
 * =======================================================================================
 */
.post-module .op-login-form-1 {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}
.post-module .op-login-form-1 .login_box {
	font-size: 15px;
}
.post-module .op-login-form-1 LABEL {
	font-size: 15px;
	color: #000;
	font-weight: 500;
}
.post-module .op-login-form-1 INPUT {
	border: 1px solid #000;
	font-size: 12px;
	border-radius: 0 !important;
	height: 50px;
	color: #000;
	font-weight: 500;
}
.post-module #pp-loginform .login-remember [type="checkbox"] {
	height: auto;
}
.post-module .op-login-form-1 INPUT[type=submit] {
	border: 2px solid #000;
	background-color: #000;
	color: #fff;
	font-weight: 700;
	transition: all 0.2s ease-in-out !important;
}
.post-module .op-login-form-1 INPUT[type=submit]:hover {
	background-color: #fff;
	color: #000;
}
.post-module #pp-lf-forgotpw {
	color: #000;
	font-size:12px;
	text-decoration: underline;
	text-underline-position: under;
}
.post-module .op-login-form-1 #wp-submit {
	font-size: 15px;
}
/**
 * ======================================================================================
 *									Post Sidebar
 * =======================================================================================
 */
.sidebar-container {
	padding: 15px 15px;
    width: 100%;
    background-color: #fff;
}
.no-background {
	background-color: transparent;
	box-shadow: none;
}
.login-sidebar {
	min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.post-module .op-login-container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    -moz-box-shadow: 0px 0px 2px 1px rgba(51,51,51,0.27);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(51,51,51,0.27);
    box-shadow: 0px 0px 2px 1px rgba(51, 51, 51, 0.27);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Glow(Color=#ff333333,Strength=3)';
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#ff333333,Strength=3);
    background-color: #fff;
}
.post-module .op-login-container .op-login-form-1 {
	margin: 0;
	padding: 0;
	box-shadow: none;
	max-width: 100%;
}
.forget-pass-link a{
    color: #000;
	margin-top:5px;
    font-size: 12px;
    text-decoration: underline;
    text-underline-position: under;
}
/**
 * ======================================================================================
 *									Media Query
 * =======================================================================================
 */
@media only screen and (min-width: 576px) {
	
}
@media only screen and (min-width: 768px) {
	
}
@media only screen and (min-width: 992px) {
	
}
@media only screen and (min-width: 1200px) {
	
}
@media only screen and (min-width: 1400px) {
	
}
/**
 * ======================================================================================
 *									Media Query
 * =======================================================================================
 */
@media only screen and (max-width: 1399px) {

}
@media only screen and (max-width: 1199px) {
	h1 {
		font-size: 2rem;
	}
	h3, h4 {
		font-size: 1rem;
	}
	.sitebtn {
		padding: 5px 15px;
		min-width: 100px;
	}
	.logo-container .logo img {
		max-height: 60px;
	}
	.Home--dashboard {
		padding-bottom: 30px;
	}
}
@media only screen and (max-width: 991px) {
	.post-sidebar {
		min-height: 100%;
		padding: 60px 15px;
	}
	h2 {
		font-size 1.3rem;
	}
	.site-header {
		padding: 15px 0;
	}
	.dashboard--header {
		padding: 30px 15px 0px 15px;
	}
	.post-card-title {
		margin-bottom: 0;
	}
	.module-content {
	    padding-left: 15px !important;
    	padding-right: 15px !important;
	}
	.post-module-title span.task_false::after {
		top: unset;
    	bottom: -8px;
	}
	.post-module-title span.task_true::after {
		top: unset;
    	bottom: -6px;
	}
	.post-module-title span {
		font-size: 0.8rem;
	}
	.post-module-title img {
		height: 20px;
	}
	.post-module {
		padding: 30px 15px;
		font-size: 0.9rem;
	}
}
@media only screen and (max-width: 767px) {
	.site-header .header_menu li {
		margin: 0;
		font-size: 0.8rem;
	}
}
@media only screen and (max-width: 575px) {

}
@media only screen and (max-width: 395px) {
	.site-header .header_menu li a {
		padding: 5px;
	}
}